<div class="media">
    <div class="media-left">
        # <img src="img/logo.png" />
        <img class="ANNIVERSARY-logo" src="img\60th ANNIVERSARY LOGO-2 (1).png" />
        <img class="ANNIVERSARY-logo" src="img\GBC logo.jpeg" />
        <img  src="img\CBC LOGO 2.png" />
        <p>Yooo 
    </div>
    <div class="media-body">
        <h3>Charismatic Baptist Church, Taifa</h3>
        <h4>
            30<sup>th</sup> Anniversary Inter-Church Bible Quiz
        </h4>
    </div>
</div>